@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-bg-class{
    background-image: url(../public//assets/misson/Cryptocurrency-Coins.jpg);
  }

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%)
    }
}
@keyframes card {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%)
    }
}


.mainDiv{
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap; 
    margin-top: 50px; 
}

.image_slide{
    
    display: flex;
    flex-wrap: nowrap;
    animation: 45s slide infinite linear;

}
.mainDiv:hover .image_slide {
    animation-play-state: paused;
}